# build output
dist
.cache

# vars
.env.local

# dependencies
node_modules

# os files
.DS_Store
Thumbs.db

# IDE files
.vscode
.zed

**/a_garder/
a_garder/
**/pas_utilisé/

_site

# logs
*.log
npm-debug.log*

# Eleventy
.cache/